# 编译输出目录
/target/
!/target/classes/
!/target/test-classes/
!/target/generated-sources/

# Maven本地依赖目录
.m2/

# IntelliJ IDEA的配置文件和目录
.idea/
*.iml
*.iws
out/

# 操作系统特定文件
.DS_Store
Thumbs.db

# 日志文件
*.log

# Spring Boot特定文件
spring.log

# 临时文件
*.tmp
*.swp
*.swo
*.bak

# 覆盖率报告
jacoco.exec
*.ec
*.exec

# 内部配置文件
/private

# 环境配置文件
.env